.footer {
  padding: 26px 0;
  background-color: #828282;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__list_block {
  display: flex;
  align-items: center;
  gap: 49px;
}

.footer__list {
  display: flex;
  align-items: center;
  gap: 41px;
}

.footer__icon img {
  margin-left: 16px;
}

.footer__link {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 700px) {
  .footer__container {
    display: block;
    text-align: center;
  }

  .footer__list_block {
    display: block;
  }

  .footer__list {
    display: block;
    margin-bottom: 56px;
  }

  .footer__icon_img {
    margin-bottom: 32px;
  }

  .footer__item {
    margin-bottom: 24px;
  }
}
